@import '~bootstrap/dist/css/bootstrap.min.css';
@import url("https://fonts.googleapis.com/css?family=Roboto Condensed");

html,
body {
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Roboto Condensed" !important;
}

.navbar-toggler {
  border: 0px;
  margin-left: 95%;
  transform: translate(-0%, 0);
}

@media screen and (max-width: 585px) {
  .navbar-toggler {
    margin-left: 87%;
  }
}

@media screen and (max-width: 600px) {
  .px-5 {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

._navbax_fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1111;
}

._footer_custom {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: -22px;
  box-shadow: 0px 0 7px rgb(0 0 0 / 15%);
}

.img_logo {
  object-fit: contain;
  border-radius: 50%;
  background: #fff;
  z-index: 111;
}

.img_logo_div {
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translate(-50%, 0);
  z-index: 1111;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.box-shadow-1 {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.text-right {
  text-align: right !important;
}

.pull-right {
  float: right !important;
}

.navbar .nav-link,
.footer .nav-link,
.footer .copyright {
  font-weight: 600;
  font-size: 14px !important;
  color: #444;
}

.navbar-nav {
  padding-top: 5px;
}

.navbar .nav-link .btn {
  margin-top: -5px;
}

.nav-link.active {
  color: #41A53D !important;
}

.dropdown-item.active {
  background-color: #41A53D;
  color: #fff;
}

.navbar .nav-link:hover,
.footer .nav-link:hover {
  color: #41A53D;
}

.navbar .nav-item {
  margin-left: 5px;
  margin-right: 5px;
}

.btn-outline-success {
  border-color: #41A53D !important;
}

.btn-outline-success:hover {
  background: #41A53D !important;
}

.btn-success {
  background: #41A53D !important;
  border-color: #41A53D !important;
}

.border-top-3 {
  border-top: 2px solid #41A53D;
}

.border-radius {
  border-radius: 8px;
}

.text-success {
  color: #41A53D !important;
}

.homepage_secondsection .number a {
  position: relative;
  font-size: 65px !important;
  top: 50%;
  color: #41a53d6c !important;
  text-decoration: none !important;
}


.homepage_thirdsection .image_ {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.homepage_foursection .image_ {
  height: auto;
  position: relative;
}

.homepage_foursection .image_ img {
  height: 50vh;
  object-fit: cover;
}

.border-1 {
  border: 1px solid #41A53D;
}

.border-1-5 {
  border: 1.5px solid #41A53D;
}

.dropdown:hover .dropdown-menu {
  display: block !important;
}


.company_firstsection {
  height: 90vh;
}

.text-justify {
  text-align: justify;
}

.company_firstsection blockquote {
  font-style: italic;
  color: #41A53D;
}

.external_text a {
  color: #41A53D !important;
  text-decoration: none !important;
}

.company_firstsection .banner {
  font-size: 400%;
  color: #41a53d7c;
}

.object-fit-cover {
  object-fit: cover !important;
}

.company_seocndsection .upper_div {
  min-height: 150px;
  height: 15vh;
  background: #41A53D;
  border-radius: 12px 12px 0 0;
}

.company_seocndsection .down_div {
  min-height: 220px;
  height: 25vh;
  background: #444;
  border-radius: 0 0 12px 12px;
  padding-top: 7em;
}

.company_seocndsection .image_ {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 111;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.bg-success-light {
  background: #E1F0E0 !important;
}

@media screen and (min-width: 992px) {
  .homepage_firstsection {
    min-height: 70vh;
  }
}

@media screen and (max-width: 992px) {
  .homepage_firstsection {
    min-height: 40vh;
  }
}

@media screen and (max-width: 1200px) {
  .company_seocndsection_image_div {
    height: 40vh !important;
  }
}

@media screen and (max-width: 992px) {
  .company_seocndsection_image_div {
    height: 30vh !important;
  }

  #navbar_menus .col-md-6 {
    width: 100% !important;
  }

  #navbar_menus .dropdown,
  #navbar_menus .navbar-nav .nav-item:nth-child(4) {
    margin-left: -0px !important;
  }

  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0px !important;
  }
}

@media screen and (max-width: 767px) {
  .company_seocndsection_image_div {
    height: 22vh !important;
  }

  .company_firstsection {
    height: auto !important;
    padding-bottom: 50px;
  }

  .footer .nav {
    width: 100% !important;
  }

  .footer p {
    padding-left: 8px;
  }

  .footer .nav-item {
    width: 100%;
    margin-top: 10px;
  }

  .footer .text-right {
    text-align: left !important;
  }

  ._footer_custom .d-flex {
    display: block !important;
  }

  ._footer_custom .form-control {
    height: 45px;
    width: 100% !important;
  }

  ._footer_custom .col-md-7 .btn {
    height: 45px;
    width: 100%;
    margin-left: -0px !important;
    margin-top: 10px !important;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1200px) {
  .company_firstsection .banner {
    font-size: 35px !important;
  }
}

.pull-left {
  float: left;
}

.cut-text-3 {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.accordeon_faq .accordion-button {
  background: #41A53D;
  padding: 12px;
  border-radius: 12px !important;
  color: #fff;
}

.accordeon_faq .accordion-item {
  margin-bottom: 20px;
  border-radius: 12px !important;
}

.accordeon_faq .accordion-body {
  padding: 15px;
}

@import "./font.css";
@import "./slider.css";