.homepage_firstsection .swiper {
    width: 100%;
    height: 100%;
}

.homepage_firstsection .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.homepage_firstsection .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 992px) {
    .homepage_firstsection .mySwiper {
        height: 80vh;
        position: relative;
    }    
}

@media screen and (max-width: 992px) {
    .homepage_firstsection .mySwiper {
        height: 60vh;
        position: relative;
        margin-top: 30px;
    }    
}

.vh-100 {
    height: 100%;
}

.homepage_firstsection .mySwiper .slide_description {
    position: absolute;
    right: 4%;
    top: 30%;
    transform: translate(0, -50%);
    width: 30%;
    border-radius: 35px !important;
}

@media screen and (max-width: 992px) {
    .homepage_firstsection .mySwiper .slide_description {
        position: absolute;
        left: 4%;
        right: 4%;
        top: 30%;
        transform: translate(0, -50%);
        width: auto;
        background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)) !important;
    }
}

.homepage_firstsection .swiper-button-prev,
.homepage_firstsection .swiper-button-next {
    background: #41A53D;
    color: #fff;
    font-size: 10px;
    padding: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

@media screen and (max-width: 992px) {
    .homepage_firstsection .swiper-button-prev, 
    .homepage_firstsection .swiper-button-next {
        width: 50px !important;
        height: 50px !important;
        font-size: 5px !important;
    }
}

.homepage_firstsection .swiper-button-next:after,
.homepage_firstsection .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 22px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: normal;
    font-variant: initial;
    line-height: 1;
    box-shadow: 0px;
}

.homepage_firstsection .swiper-button-prev {
    left: 40%;
    top: auto;
    bottom: 5%;
    transform: translate(-50%, 0);
}

.homepage_firstsection .swiper-button-next {
    left: 60%;
    top: auto;
    right: auto;
    bottom: 5%;
    transform: translate(-50%, 0);
}

/* ################################ #################################### ##################################*/

.partners_firstsection .swiper {
    width: 100%;
    height: 100%;
}

.partners_firstsection .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.partners_firstsection .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.partners_firstsection .mySwiper {
    height: 40vh;
    position: relative;
    border-radius: 12px;
    border: 1px solid #41a53d8a;
}

.partners_firstsection .mySwiper .slide_description {
    position: absolute;
    left: 10%;
    top: 6%;
    right: 8%;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)) !important;
}

.partners_firstsection .swiper-button-prev,
.partners_firstsection .swiper-button-next {
    background: #41A53D;
    color: #fff;
    font-size: 10px;
    padding: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.partners_firstsection .swiper-button-next:after,
.partners_firstsection .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 16px;
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: normal;
    font-variant: initial;
    line-height: 1;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.partners_firstsection .swiper-button-prev {
    left: 35%;
    top: auto;
    bottom: 10%;
    transform: translate(-50%, 0);
}

.partners_firstsection .swiper-button-next {
    left: 65%;
    top: auto;
    right: auto;
    bottom: 10%;
    transform: translate(-50%, 0);
}